.hero::after,
.hero::before {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}

.hero::before {
    top: 1rem;
    left: 0;
    width: 3.75rem;
    height: 2.5rem;
    background-image: url("/dots.png");
}
@media screen and (min-width:768px) {
    .hero::before {
        width: 4rem;
        height: 3rem;
    
    }
    .hero::after {
        top: 30%;
        right: 0;
        background-image: url("/hero-image.png");
        width: 19rem;
        height: 16rem;
        z-index: -10;
    }
}

@media screen and (min-width:1280px) {
    .hero::before {
        top: 4rem;
        left: 0;
        width: 7rem;
        height: 6rem;
    }
    .hero::after {
        top: 2rem;
        right: 2rem;
        width: 38rem;
        height: 32.75rem;
    }
}



/* .list_container {
    box-shadow: -10 10 15 rgba(229, 233, 246, 0.85);
} */

.item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/check-icon.svg');
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
}
@media screen and (min-width:768px) {
    .item::before {
        width: 1.75rem;
        height: 1.75rem;
    }
}

@media screen and (min-width:1280px) {
    .item::before {
        width: 2.5rem;
        height: 2.5rem;
    }
}