@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #17303c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mulish), Arial, Helvetica, sans-serif;
  
}

.my-shadow {
  box-shadow: -10 10 15 rgba(229, 233, 246, 0.85);
}


